<script src="./js/saved.js"></script>

<header>
    <nav>
        <h1>
            Mongo Scraper
        </h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/saved" id="saved">Saved Articles</a></li>
        </ul>
        <button id="clear">
            Clear Articles
        </button>
    </nav>
</header>

<section class="title-section">
    <h1>Displaying Saved Articles only</h1>
</section>

<section class="article-container">
    {{!-- This is where the article.handlebars will load --}}
</section>